.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
}
.text {
  color: rgb(125, 125, 125);
}
.btn {
  padding: 8px 15px;
  width: 150px;
  text-align: center;
  border-radius: 4px;
  color: white;
  border: 1px solid rgb(151, 24, 255);
}
